$main-fs: 18px;
$title-fs: 72px;
$section-title-fs:48px; 
$section-bg_title-fs: 120px; 
$card-title-fs: 22px;

$body-bgc:  #181818;
$main-font-color: rgba(255, 255, 255, 1);
$bg-font-color: rgba(255, 255, 255, 0.2);
$main-theme-color: rgba(2, 229, 2, 1);
$card-bgc: #1E1D1D;

$main-pd: 20px;
$card-gap: 20px;
$main-margin: 20px;

.grid{
    display: grid;  
}



